<?xml version="1.0" encoding="UTF-8" ?>
<Module specificationVersion="1">

    <ModulePrefs title="Facebook - OAuth2 w/Jive Connects App Example"
                 description="Uses Facebook in an App with OAuth2"
                 author="Ryan Rutan"
                 authoraffiliation="Jive Software"
                 authoremail="ryan.rutan@jivesoftware.com">

        <Link rel="favicon"    href="images/icon16.png" />
        <Link rel="Icon"       href="images/icon16.png" />
        <Link rel="MediumIcon" href="images/icon48.png" />
        <Link rel="LargeIcon"  href="images/icon128.png" />

        <!-- Commonly used features -->
        <Require feature="dynamic-height" />
        <Require feature="dynamic-width" />
        <Require feature="jive-core-v2" />
        <Require feature="jquery-1.6" />
        <Require feature="osapi"/>
        <Require feature="settitle"/>
        <Require feature="views" />
        <Require feature="setprefs" />
        <Require feature="embedded-experiences"/>
        <Require feature="selection" />
        <Require feature="oauthpopup" />
        <Require feature="jive-core-v2" />
        <Require feature="jive-core-v3"/>
        <Require feature="minimessage"/>
        <Require feature="jive-connects-v1">
            <Param name="alias:facebook-oauth2-example|title:Facebook OAuth2 Example">jive:service://developers.jivesoftware.com/examples/oauth/2/facebook?version=1</Param>
        </Require>

    </ModulePrefs>

    <Content type="html" view="canvas" href="canvas.jsp" preferred_height="200" />

</Module>

 
 
